{% extends "layout.html" %}

{% block content %}
    <h1>Browse My Wikistack</h1>
    <p>Welcome to {{title}}</p>
    <div>
      <ul>
        <li><a href=''>Fullstack Home</a></li>
        <li><a href=''>About Me</a></li>
        <li><a href=''>My Projects</a></li>
        <li><a href=''>My City</a></li>
        <li><a href=''>Code I've written</a></li>
      </ul>
    </div>
    <div>
      {% if docs.length > 0 %}
        <ul>
          {% for doc in docs %}
            <li><a href='/{{url_name}}'>{{doc|page_link}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        There are no pages. Why don't you <a href='/add'>add one</a>?
      {% endif %}
    </div>
{% endblock %}
